[program:kafka]
user={{ kafka_user }}
command={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/server.properties
autostart=true
autorestart=true
environment=JAVA_HOME={{ java_install_dir }}/{{ java_version }},KAFKA_HEAP_OPTS={{ kafka_heap_opts }}
stdout_logfile={{ kafka_log_dir }}/kafka.out.log
stderr_logfile={{ kafka_log_dir }}/kafka.err.log